*{
    box-sizing: border-box;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
 }
html{
    box-sizing: border-box;
    /* font-family: helvetica; */
}
body{
    /* background-color: #ccc; */
    margin: 1rem;
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44);
}
.Card{
    font-size: 40px;
    text-align: center;
   
}
.blocks {
    display: flex;
    flex-flow: row wrap;
}
.block{
    flex: 1 1 calc(25% - 1rem);
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding: 1rem 1rem 1rem;
    position: relative;
}
.block{
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    border-radius: 5px;
}
.block h1 {
    color: #444;
    font: helvetica;
    margin-bottom: 0;
}
.block p {
    margin-left: 1rem;
    margin-right: 1rem;
}
.block img {
    max-width: 100%;
}
.block .read-more{
    display: inline-block;
    position: absolute;
    bottom: .1rem;
    padding: .2rem .1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: thistle;
    border-radius: 3px;
    width: calc(90% - 1rem);
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 15px;

@media screen and (min-width: 60em) {
    .block{
        flex: 1 1 calc(25% - 1rem);
        overflow: hidden;
    }
    .block .block :nth-child(even) {
        margin-right:1rem;
    }
    .block:nth-child(4n){
        margin-right: 0;
    }
    .block img {
        max-width: 100%;
    }
    
}